<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Appenders --> 
  
  <!-- Console vie 에 로그를 찍는 Appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- log 찍는 방식 -->
      <pattern>[%d{HH:mm:ss.SSS, Asia/Seoul}]%-5level:%logger-%msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- File 에 log 를 찍는 Appender --> 
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>/logs/prj05.log</file> <!-- 파일경로 --> 
    <append>true</append> <!-- 추가모드 --> 
    <immediateFlush>true</immediateFlush> <!-- flush --> 
    <encoder>
      <!-- log 찍는 방식 --> 
      <pattern>[%d{HH:mm:ss.SSS, Asia/Seoul}]%-5level:%logger-%msg%n</pattern>
    </encoder>
  </appender>
  	
	<!-- Application Loggers -->
	<logger name="com.gdu.prj05" level="info" />
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework" level="info"/>
  <logger name="com.zaxxer.hikari" level="info" />
  <logger name="org.mybatis.spring" level="info" />

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
    
</configuration>
 